* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f4f4f4;
}

.header {
    min-height: 100vh;
    width: 100%;
    z-index: 1;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 2% 6%;
    align-items: center;
}

.menu-bar {
    flex: 1;
    text-align: right;
}


.menu-bar ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    color: #12406a;
}

.menu-bar ul li a {
    text-decoration: none;
    color: #12406a;
    font-size: 15px;
}

.menu-bar ul li::after {
    content: '';
    width: 0%;
    height: 1px;
    background: #12406a;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.menu-bar ul li:hover::after {
    width: 100%;
}

.menu-bar .fa-solid {
    margin-right: 8px;
    color: 12406a;
}

.sub-menu1 {
    display: none;
    z-index: 1;
}

.menu-bar ul li:hover .sub-menu1 {
    display: block;
    position: absolute;
    background: #12406a54;
    margin-top: 10px;
    margin-left: 15px;
    z-index: 2;
}

.menu-bar ul li:hover .sub-menu1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu1 ul li {
    width: 150px;
    padding: 10px;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu1 ul li:last-child {
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu1 ul li a:hover {
    color: #f4f4f4;
}

nav .fa-solid {
    display: none;
}



div ul .fa-solid {
    display: inline;
}

@media(max-width:700px) {
    .text-box h1 {
        font-size: 20px;
    }

    .menu-bar {
        position: absolute;
        background: #f4f4f4;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 3;
        transition: 1s;
    }

    .menu-bar ul {
        padding: 30px;
    }

    .menu-bar ul li {
        display: block;
    }



    nav .fa-solid {
        display: block;
        color: #12406a;
        font-size: 22px;
        cursor: pointer;
    }

    div .fa-solid {
        display: block;
        color: #12406a;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    div ul .fa-solid {
        display: none;
    }

}

/*-------contact-------*/


.contact h2 {
    font-size: 40px;
    color: #12406a;
    text-align: center;
    margin-bottom: 10px;
}

.contact form {
    width: 600px;
    text-align: center;
    margin: auto;
}

form .input-box {
    display: flex;
    justify-content: space-between;
}

.input-box .input-field {
    width: 48.5%;
}


.field .item {
    width: 100%;
    padding: 18px;
    background: transparent;
    border: 2px solid #12406a;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: #12406a;
    margin: 12px 0;
}

.field.error .item {
    border-color: red;
}

.field .item::placeholder {
    color: rgba(125, 122, 122, 0.3);
}

.field .error-txt {
    font-size: 14.5px;
    color: red;
    text-align: left;
    margin: -5px 0 10px;
    display: none;
}

.field.error .error-txt {
    display: block;
}


.field .item {
    color: #12406a;
}

form .textarea-field .item {
    resize: none;
}

form .textarea-field .error-txt {
    margin-top: -10px;
}

form button {
    padding: 12px 32px;
    background: #b5cfdf;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px #8da1ae;
    font-size: 16px;
    color: black;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
}

form button:hover {
    box-shadow: none;
}

@media(max-width:700px) {
    .contact form {
        width: 300px;
        text-align: center;
        margin: auto;
    }

    form .input-box {
        display: block;
    }

    .input-box .input-field {
        width: 100%;
    }

}