* {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans TC', 'Poppins', sans-serif;
    box-sizing: border-box;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: url(images/cover2.jpg);
    z-index: 0;
    background-position: center;
    background-size: cover;
    position: relative;
}

.header h1 {
    color: white;
    text-align: center;
    margin-top: 100px;
    z-index: 1;
    font-size: 62px;
}


body {
    background-color: #f4f4f4;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 2% 6%;
    align-items: center;
}

.menu-bar {
    flex: 1;
    text-align: right;
}


.menu-bar ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    color: white;
}

.menu-bar ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.menu-bar ul li::after {
    content: '';
    width: 0%;
    height: 1px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.menu-bar ul li:hover::after {
    width: 100%;
}

.menu-bar .fa-solid {
    margin-right: 8px;
    color: white;
}

.sub-menu1 {
    display: none;
    z-index: 1;
}

.menu-bar ul li:hover .sub-menu1 {
    display: block;
    position: absolute;
    background: #12406a54;
    margin-top: 10px;
    margin-left: 15px;
    z-index: 2;
}

.menu-bar ul li:hover .sub-menu1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu1 ul li {
    width: 150px;
    padding: 10px;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu1 ul li:last-child {
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu1 ul li a:hover {
    color: #4689c8;
}

nav .fa-solid {
    display: none;
}


div ul .fa-solid {
    display: inline;
}

@media(max-width:700px) {
    .text-box h1 {
        font-size: 20px;
    }

    .menu-bar {
        position: absolute;
        background: #12406a;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 3;
        transition: 1s;
    }

    .menu-bar ul {
        padding: 30px;
    }

    .menu-bar ul li {
        display: block;
    }



    nav .fa-solid {
        display: block;
        color: white;
        font-size: 22px;
        cursor: pointer;
    }

    div .fa-solid {
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    div ul .fa-solid {
        display: none;
    }


}

/*----------gallery-------*/
.gallery {
    width: 100%;
    padding: 30px 0;
    text-align: center;
}

.section-header {
    text-transform: uppercase;
    padding-bottom: 30px;
    font-size: 55px;
    color: #12406a;
    letter-spacing: 3px;
    text-align: center;
}

.content {
    padding: 10%;
}

.content h2 {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.content p {
    line-height: 1.5;
}

.main-content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, min-max(300px, 1fr));
    grid-row-gap: 25px;
    grid-column-gap: 25px;
    display: flex;
}

.main-content .box {
    position: relative;
    cursor: pointer;
    margin-bottom: 15px;
    box-shadow: 15px 15px 40px black;
    height: 250px;
    width: 300px;
    overflow: hidden;
    margin: auto;
}

.main-content .box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    transition: all 0.5s ease-in-out;
}

.main-content .box:hover {
    top: 0;
    right: cal(100%-5px);
    z-index: 3;

}

.main-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-content .box .img-text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100%;
    top: 0;
    right: 100%;
    transition: all 0.5s ease-in-out;
}

.main-content .box:hover .img-text {
    top: 0;
    right: 0;
}

@media(max-width:700px) {
    .main-content {
        display: block;
    }

    .main-content .box {
        text-align: center;
        margin-bottom: 20px;
    }
}

/*---------name-button--------*/

.name-button {
    text-align: center;
}

.name-button button {
    background-color: #12406a;
    box-shadow: 0 5px 0 rgb(85, 94, 103);
    padding: 8px 22px;
    border-radius: 6px;
    border-color: #12406a;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
}

.name-button button:active {
    box-shadow: none;
    transform: translateY(5px);
}

/*-------showmenu--------*/
div {
    text-align: center;
}

div img {
    width: 700px;
}

@media(max-width:700px) {
    div img {
        width: 100%;
        text-align: center;
    }
}

.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background: #12406a;
    bottom: 40px;
    z-index: 5;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
}