* {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans TC', 'Poppins', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: url(images/cover.jpg);
    z-index: 1;
    background-position: center;
    background-size: cover;
    position: relative;
}


body {
    background-color: #f4f4f4;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 2% 6%;
    align-items: center;
}

.menu-bar {
    flex: 1;
    text-align: right;
}


.menu-bar ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    color: white;
}

.menu-bar ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.menu-bar ul li::after {
    content: '';
    width: 0%;
    height: 1px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.menu-bar ul li:hover::after {
    width: 100%;
}

.menu-bar .fa-solid {
    margin-right: 8px;
    color: white;
}

.sub-menu1 {
    display: none;
    z-index: 1;
}

.menu-bar ul li:hover .sub-menu1 {
    display: block;
    position: absolute;
    background: #12406a54;
    margin-top: 10px;
    margin-left: 15px;
    z-index: 4;
}

.menu-bar ul li:hover .sub-menu1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu1 ul li {
    width: 150px;
    padding: 10px;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu1 ul li:last-child {
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu1 ul li a:hover {
    color: #4689c8;
}

nav .fa-solid {
    display: none;
}

.text-box {
    width: 90%;
    color: #12406a;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}

.text-box h1 {
    font-size: 62px;
}

.text-box h2 {
    margin: 10px 0 40px;
    font-size: 45px;
    color: #12406a;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #12406a;
    border: 1px solid #12406a;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid white;
    background: white;
    transition: 1s;
}



div ul .fa-solid {
    display: inline;
}

@media(max-width:700px) {
    .text-box h1 {
        font-size: 50px;
    }

    .text-box h2 {
        font-size: 40px;
    }

    .menu-bar {
        position: absolute;
        background: #12406a;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 3;
        transition: 1s;
    }

    .menu-bar ul {
        padding: 30px;
    }

    .menu-bar ul li {
        display: block;
    }



    nav .fa-solid {
        display: block;
        color: white;
        font-size: 22px;
        cursor: pointer;
    }

    div .fa-solid {
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    div ul .fa-solid {
        display: none;
    }

}

/*-------special-------*/
.special {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.special-col {
    flex-basis: 31%;
    background: #12406ab9;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

.h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.special-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media(max-width:700px) {
    .row {
        flex-direction: column;
        text-align: center;
    }
}

/*-------function-------*/
.function {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.function-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.function-col img {
    width: 100%;
    display: block;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover {
    background: rgba(3, 1, 1, 0.198);
}

.layer h3 {
    width: 100%;
    font-weight: 500;
    color: #12406a;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    transition: 0.5s;
}

.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}


/*Good*/

.good {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.good-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.good-col img {
    width: 90%;
    height: 75%;
    border-radius: 10px;
}

.good-col p {
    padding: 0;
}

.good-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

@media(max-width:700px) {
    .good-col img {
        width: 100%;
    }

    .good-col p {
        text-align: center;
    }

    .good-col h3 {
        text-align: center;
    }
}

/*------to action---------*/

.action {
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.473)), url(images/cover.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
    z-index: 5;
}

.action h1 {
    color: white;
    margin-bottom: 40px;
    padding: 0;
}

.hero-btn2 {
    display: inline-block;
    text-decoration: none;
    color: #c1c1c1;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn2:hover {
    border: 1px solid white;
    background: white;
    transition: 1s;
}



/*--------slider-------*/
.slider_container {
    margin: 30px auto;
    width: 900px;
    height: 540px;
    position: relative;
    border: 20px solid;
    border-color: #12406a;
    border-bottom-width: 100px;
    background-color: #12406a;
    box-shadow: #666 0 0 5px;
    z-index: 0;
}

.slider_container div {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 0;
}

.slider_container div {
    -webkit-animation: round 25s linear infinite;
    animation: round 25s linear infinite;
}

@-webkit-keyframes round {
    4% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 0 - 1秒 淡入*/
    }

    20% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 1- 5秒靜止*/
    }

    24% {
        opacity: 0;
        filter: alpha(opacity=0);
        /* 5-6秒淡出*/
    }
}

@keyframes round {
    4% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 0 - 1秒 淡入*/
    }

    20% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 1- 5秒靜止*/
    }

    24% {
        opacity: 0;
        filter: alpha(opacity=0);
        /* 5-6秒淡出*/
    }
}

.slider_container div:nth-child(5) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.slider_container div:nth-child(4) {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}

.slider_container div:nth-child(3) {
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
}

.slider_container div:nth-child(2) {
    -webkit-animation-delay: 15s;
    animation-delay: 15s;
}

.slider_container div:nth-child(1) {
    -webkit-animation-delay: 20s;
    animation-delay: 20s;
}

.slider_container span {
    color: #000;
    background: #ffffffa3;
    position: absolute;
    left: 0%;
    top: 280px;
    width: 400px;
    height: 200px;
    font-size: 30px;
    text-align: center;
    line-height: 100px;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.slider_container:hover span {
    width: 100%;
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
}

.restaurant img {
    width: 900px;
    height: 610px;
}

@media(max-width:700px) {
    .slider_container {
        display: none;

    }

    .restaurant img {
        display: none;
    }
}

.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background: #12406a;
    bottom: 40px;
    z-index: 5;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
}