* {
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 2% 6%;
    align-items: center;
}

.menu-bar {
    flex: 1;
    text-align: right;
}


.menu-bar ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    color: #12406a;
}

.menu-bar ul li a {
    text-decoration: none;
    color: #12406a;
    font-size: 15px;
}

.menu-bar ul li::after {
    content: '';
    width: 0%;
    height: 1px;
    background: #12406a;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.menu-bar ul li:hover::after {
    width: 100%;
}

.menu-bar .fa-solid {
    margin-right: 8px;
    color: 12406a;
}

.sub-menu1 {
    display: none;
    z-index: 1;
}

.menu-bar ul li:hover .sub-menu1 {
    display: block;
    position: absolute;
    background: #12406a54;
    margin-top: 10px;
    margin-left: 15px;
    z-index: 2;
}

.menu-bar ul li:hover .sub-menu1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu1 ul li {
    width: 150px;
    padding: 10px;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu1 ul li:last-child {
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu1 ul li a:hover {
    color: #f4f4f4;
}

nav .fa-solid {
    display: none;
}



div ul .fa-solid {
    display: inline;
}

@media(max-width:700px) {
    section{
        z-index: 100;
    }
    .text-box h1 {
        font-size: 20px;
    }

    .menu-bar {
        position: absolute;
        background: #f4f4f4;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 100;
        transition: 1s;
    }

    .menu-bar ul {
        padding: 30px;
    }

    .menu-bar ul li {
        display: block;
    }



    nav .fa-solid {
        display: block;
        color: #12406a;
        font-size: 22px;
        cursor: pointer;
    }

    div .fa-solid {
        display: block;
        color: #12406a;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    div ul .fa-solid {
        display: none;
    }

}
/*通用*/

body{
    width: 100%;
    height: auto;
    background-color: #fafafa;
    text-align: center;
}
a{
    text-decoration: none;
}
p {
    margin-top: 0;
    height: 20px;
}
ul{
    padding:2px;
}
.container {
    width: 95%;
    height: auto;
    margin: auto;
}

.flex-container{
    display: flex;
}
h1{

    text-align: center;
}

/*通用end*/

/*前往餐廳*/
.icon{
    margin-right:.5rem;
    color:#EB8F90;
}
.property-item{
    box-shadow: 4px 8px 12px 0 rgba(0,0,0,0.2);
    overflow:hidden;
    border-radius:7px;
    transition: .5s;
    background-color: #fff;
}
.property-item img{
    transition: .5s;
}
.property-item img:hover{
    transform: scale(1.1);
}
.restaurant-box{

    flex: 1;
    width:24%;
    padding: 3px;
}
.restaurant-lebel{
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    background-color:#fff;
    color:#446F99;
    position:absolute;
    left:0;
    bottom:0;
    margin-right:1.5rem;
    margin-left:1.5rem;
    padding-top:.25rem;
    padding-right:1rem;
    padding-left:1rem;
}
.text{
    padding:1.5rem;
    padding-bottom:0;
    white-space: nowrap;
}
.restaurant-name{
    
    display:block;
    margin-top:0;
    margin-bottom:.5rem;
    font-weight:700;
    line-height:1.2;
    color:#0E2E50;
    margin-bottom:.5rem;
    transition: .5s;
}
.up{
    overflow:hidden;
    position:relative;
}
.restaurant-img{
    max-width:100%;
    height:auto
}
/*前往餐廳end*/

/*學校地圖*/

.school-map{
    width: 70%;
    display: block;
    margin: auto;
}
.background{
    background-color: lightgray;
}
.position-out{
    position: relative;
}
.marker1{
    top: 3%;
    left: 67.5%;
}
.marker2{
    top: 25%;
    left: 49%;
}
.marker3{
    top: 76%;
    left: 39%;
}
.marker4{
    top: 20%;
    left: 71%;
}
.position-out .marker{
    position: absolute;
    text-align: center;
    z-index: 5;
    opacity: 1;
    transition: all .5s;
}  
.position-out .marker i{
    color:#12406A;
    animation: hovering 1s ease-in-out infinite alternate;
}
.position-out .marker .shadow{
    width: 18px;
    height: 4px;
    background: #5d72a0;
    border-radius: 50%;
    margin: 5px auto 0 auto;
    animation: shadow 1s ease-in-out infinite alternate;
}
.card1{
    top: 2%;
    left: 64%;
}
.card2{
    top: 24%;
    left: 46%;
}
.card3{
    top: 75%;
    left: 36%;
}
.card4{
    top: 19%;
    left: 68%;
}
.position-out .card{
    position: absolute;
    z-index: 10;
    border-radius: 5px;
    overflow: hidden;
    background: #fff;
    box-shadow: 4px 8px 12px 0 rgba(0,0,0,0.2);
    text-align: center;
    transform: perspective(600px) rotateY(90deg);
    pointer-events: none;
    transition: all .5s ease;
    &.active{
        transform: perspective(600px) rotateY(0deg);
        pointer-events: all;
        transition: all .5s;
    }
}
.position-out .card img{
        max-width:100%;
        height:auto
} 
.position-out .card p{
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        margin: 2px 0;
}
@keyframes hovering{
    from{
        transform: translate3d(0,0,0);
    }
    to{
        transform: translate3d(0,-5px,0);
    }
}
@keyframes shadow{
    from{
        transform: scale(1) translate3d(0,0,0);
    }
    to{
        transform: scale(1.25) translate3d(0,0,0);
    }
}
/*學校地圖end*/

/*表格*/
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left; 
  }
  
  th {
    background-color: #12406A;
    color: #fff;
  }
  
  tr:nth-child(even) {
    background-color: #f4f4f4;
  }
  
  tr:hover {
    background-color: #e0e0e0;
  }
/*表格 end*/

/*顯示建築名稱*/
.slide-animation {
    animation: slideIn 0.5s ease-in-out; 
}
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
/*顯示建築名稱end*/

/*按鈕*/
.btn {
    border: 0 solid;
    box-sizing: border-box;
    font-size: 100%;
    line-height: 1.5;
    border-radius: 30px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
    font-weight: 900;
    padding: 1.8rem 5rem;
    position: relative;
  }
  
  .btn .content {
    color: #000;
    display: grid;
    height: 84%;
    left: 0;
    place-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    transition: transform 0.2s;
  }
  .btn:hover .content {
    transform: translateY(4%);
  }
  
  .btn:active .content {
    transform: translateY(8%);
  }

  /*RWD*/
@media screen and (max-width: 700px){
    .flex-container{
        display: block;
    }

    .restaurant-box{
      flex:0 0 auto;
      width: 95%;
      height: auto; 
      padding: 3px;
    }
}
@media screen and (max-width: 900px){
    .marker1{
        top: 0%;
        left: 74%;
    }
    .marker2{
        top: 19%;
        left: 49%;
    }
    .marker3{
        top: 72%;
        left: 35%;
    }
    .marker4{
        top: 18%;
        left: 77%;
    }
    .school-map{
        width: 95%;
    }
    .card1{
        top: -1%;
        left: 67%;
    }
    .card2{
        top: 17%;
        left: 47%;
    }
    .card3{
        top: 70%;
        left: 33%;
    }
    .card4{
        top: 16%;
        left: 68%;
    }

    .card2,
    .card3 {
        width: 34%;
    }
}
@media screen and (max-width: 600px){
    .marker1{
        top: -5%;
        left: 74%;
    }
    .marker2{
        top: 15%;
        left: 48%;
    }
    .marker3{
        top: 64%;
        left: 35%;
    }
    .marker4{
        top: 14%;
        left: 77%;
    }
    .school-map{
        width: 95%;
    }
    .card1{
        top: -6%;
        left: 67%;
    }
    .card2{
        top: 12%;
        left: 44%;
    }
    .card3{
        top: 61%;
        left: 30%;
    }
    .card4{
        top: 11%;
        left: 68%;
    }
    .card2,
    .card3 {
        width: 34%;
    }
}